@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bloomi Blankets </h1>
    <p>Here, you will get all the comfortable blankets for your better sleep.</p>
    <h3>Why US.....?</h3>
    <img src="~/img/WhatsApp Image 2023-10-13 at 16.47.45_cfbabaac.jpg" alt="bvv"/>
    <p>Bloomi Blankets for your peaceful sleep as well as bloomy and creative ideas....</p>
</div>
